.dialogs {
    display: grid;
    grid-template-areas: "dialogItems messages";
    grid-template-columns: 1fr 3fr;
}

.dialogsItems {
    padding: 10px;
    background-color: greenyellow;
    grid-area: dialogItems;
}

.dialog {

}
.dialogsItems .active{
    color: red;
}

.messages {
    padding: 10px;
    background-color: deepskyblue;
    grid-area: messages;
}

.message {


}